.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}
h1 {
  color: currentColor;
}
h2 {
  color: currentcolor;
}
.input-container {
  margin-bottom: 10px;
}
.editing-container {
  display: flex;
  align-items: center;
}
.editing-container input {
  margin-right: 10px;
}
.filter-container {
  margin-bottom: 10px;
}
@keyframes backgroundSlide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #233833, #7d66ff, #06D6A0, #118AB2, #073B4C);
  background-size: 400% 400%;
  animation: backgroundSlide 30s linear infinite;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}